body{
    background-color: rgb(171, 59, 40);
   /* background-image: url('Me_75x75_spaced.png') ; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    padding-top: 20px;
}

.body{
    background-color: rgb(140, 50, 35);
    padding: -20px 20px 0 20px;
    width: 20%;
    margin-bottom: 400px;
    max-width: 1200px;
    text-align: center;
    border: 3px solid; 
    z-index: 1;
    position: relative;
    overflow: visible;

  
}

#about-body{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
   
    
    
}

#about-body h1, h2, h3 {
    text-align: center;
    position: relative;
    
}

#second-h2{
    
    text-align: left;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 50, 35);
    padding: 10px;
    border: 3px solid black;
    
}

/*.centered-header {
    text-align: center;
    border: 3px solid;
    padding: 10px;
    background-color: rgb(140, 50, 35);
    text-align: center;
    margin: 20px;
    z-index: 1;
    position: relative;
}*/

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(140, 50, 35);
    gap: 15px;
}
.nav-link{
    margin: 0 15px;
    text-decoration: none;
    Color: black;
    font-size: 35px;
    padding: 8px 15px;
    border: 2px solid rgb(140, 50, 35);
    background-color: rgb(171, 59, 40);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover{
    background-color: rgb(140, 50, 35);
    transform: scale(1.05);
}

footer{
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    border: 3px solid black;
    background-color: rgb(140, 50, 35);

}

#staring_cat{
   position: static;
   display: inline-block;
    width: 100px;
    top: 20px;
    left: 320px; 
    height: auto;
}

#omski_cat{
    position: absolute;
    height:auto;
    bottom: -770%;
    right: -7%;
    width: 45%;  
}

.Om_cat{
        position: absolute;
        height:auto;
        bottom: -770%;
        right: -30%;
        width: 45%;
}

.blog-posts h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(140, 50, 35);
    border-radius: 10px;
    width: 90%;
}